[tool.poetry]
name = "jetblack-messagebus-python3"
version = "3.0.1"
description = "A python3 client for jetblack-messagebus"
authors = ["Rob Blackbourn <rob.blackbourn@googlemail.com>"]
readme = "README.md"
repository = "https://github.com/rob-blackbourn/jetblack-messagebus-python3"
packages = [
    { include = "jetblack_messagebus", from = "src" },
]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
aioconsole = "^0.1.15"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
